body {
  background-color: #e4e4e4;
  margin: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
  font-weight: 600;
  margin: 3rem 0 4rem 0;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
  margin-block-start: 4rem;
  margin-block-end: 0.5rem;
}

p {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
}

a {
  text-decoration:none;
  color: #FF8370;
  font-weight: bolder;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

header {
  overflow: hidden;
  background-color: #262626;
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 3rem;
}

.header-text {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 60px;
  font-weight: bolder;
  padding: 2rem 0;
  text-transform: uppercase;
}

.header-text--clicked {
  text-decoration: underline;
}

.header-text:hover {
  background-color: #FF8370;
}

.header-link {
  padding: 5rem 5.5rem;
}

.header-link:hover {
  color: #262626;
}

.container {
  margin-left: 5rem;
  margin-right: 5rem;
  margin-block-end: 6rem;
}

.center-title {
  text-align: center;
}

.zdog-canvas {
  position: relative;
  cursor: move;
  display: block;
  margin: auto;
}

.intro {
  margin-block-end: 1rem;
  font-size: 18px;
}

.stuff {
  position: relative;
  display: block;
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  margin-top: 2rem;
}

.card {
  margin-bottom: .2rem;
  display: block;
  border-radius: .4rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-transform: uppercase;
}

.card:hover {
  text-decoration: underline;
}

.icon {
  width: 100px;
  height: auto;
  margin: .5rem;
  opacity: 70%;
}

.social {
  display: inline-block;
}

.copyright {
  font-style: italic;
  text-align: center;
  font-size: 12px;
  margin-block-start: 1rem;
}

@media (min-width: 768px) {
  .header-text {
    font-size: 32px;
  }
  h1 {
    font-size: 62px;
  }
  .names {
    padding-left: 0;
  }
  .card {
    font-size: 30px;
  }
  .icon {
    margin: 0.3rem;
    width: 50px;
  }
  .copyright {
    margin-block-start: 0;
  }
}

@media (min-width: 1024px) {
  .container {
      margin-left: 6rem;
      margin-right: 6rem;
  }
  .header-text {
      font-size: 24px;
  }
  .names {
    padding-left: 0;
  }
  .card {
    font-size: 24px;
  }
  .icon {
      width: 40px;
  }
}

@media (min-width: 1440px) {
  .container {
      margin-left: 19rem;
      margin-right: 19rem;
  }
  .names {
    padding-left: 0;
  }
}

@media (min-width: 1900px) {
  .container {
      margin-left: 32rem;
      margin-right: 32rem;
  }
  .names {
    padding-left: 0;
  }
}

@media (min-width: 2400px) {
  .container {
      margin-left: 48rem;
      margin-right: 48rem;
  }
  .names {
    padding-left: 0;
  }
}
