body {
  background-color: #e4e4e4;
  margin: 0;
}

h1 {
  margin-block-start: 3rem;
  margin-block-end: 3rem;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 80px;
}

p {
  position: relative;
  margin-block-end: 1rem;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  margin: 0;
  margin-bottom: 1rem;
}

a {
  text-decoration:none;
  color: #FF8370;
  font-weight: bolder;
}

ul {
  padding-inline-start: 0;
}

header {
  overflow: hidden;
  background-color: #262626;
  padding: 1rem 0;
  text-align: center;
}

footer {
  text-align: center;
  margin-bottom: 3rem;
}

.header-text {
  font-family: 'Open Sans', sans-serif;
  display: inline-block;
  font-size: 50px;
  font-weight: bolder;
  padding: 0 2.5rem;
}

.container {
  margin-left: 5rem;
  margin-right: 5rem;
}

.zdog-canvas {
  position: relative;
  cursor: move;
  display: block;
  margin: auto;
}

.stuff {
  position: relative;
  display: block;
  margin: auto;
  margin-block-start: 4rem;
  margin-block-end: 4rem;
  width: 50%;
  text-align: center;
  margin-top: 2rem;
}

.card {
  width: 9rem;
  margin: auto;
  margin-bottom: .2rem;
  position: relative;
  display: block;
  border-radius: .4rem;
  font-family: 'Open Sans', sans-serif;
  color: #101414;
  font-weight: bolder;
  font-size: 20px;
}

.card:hover {
  background-color: #101414;
  color: #6c969c;
}

.card-text {
  margin-top: 3rem; 
  display: block;

}

.icon {
  width: 100px; 
  height: auto;
  margin: 1rem;
}

.social {
  display: inline-block;
  border-radius: 30px;
}

.social:hover:not(.active) {
  background-color: #FF8370;
}

.copyright {
  font-style: italic;
  text-align: center;
}

@media (min-width: 1024px) {
  .container {
      margin-left: 6rem;
      margin-right: 6rem;
  }
  .header-text {
      font-size: 20px;
  }
  .icon {
      width: 40px; 
  }
}

@media (min-width: 1440px) {
  .container {
      margin-left: 19rem;
      margin-right: 19rem;
  }
}

@media (min-width: 1900px) {
  .container {
      margin-left: 32rem;
      margin-right: 32rem;
  }
}

@media (min-width: 2400px) {
  .container {
      margin-left: 48rem;
      margin-right: 48rem;
  }
}
