body {
  background-color: rgb(18, 122, 136);
}

h1 {
  margin-block-start: 3rem;
  margin-block-end: 3rem;
  text-align: center;
  font-family: 'Prata', serif;
  font-size: 90px;
  font-weight: lighter;
}

p {
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  text-align: center;
  font-family: 'Prata', serif;
  font-size: 15px;
}

.zdog-canvas {
  cursor: move;
  display: block;
  margin: auto;
}

.links {
  display: block;
  margin: auto;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  width: 50%;
  text-align: center;
}

.icon {
  width: 40px; 
  height: auto;
  border-left: 3rem;
  border-right: 3rem;
}
