body {
    background-color: rgb(18, 122, 136);
  }

h1 {
    text-align: center;
    font-family: 'Prata', serif;
    font-size: 100px;
    font-weight: lighter;
}

.zdog-canvas {
    cursor: move;
    display: block;
    margin: auto;
  }
