body {
  background-color: rgb(18, 122, 136);
}


h1 {
  margin-block-start: 3rem;
  margin-block-end: 3rem;
  text-align: center;
  font-family: 'Prata', serif;
  font-size: 90px;
  font-weight: lighter;
}

p {
  position: relative;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  text-align: center;
  font-family: 'Prata', serif;
  font-size: 15px;
}

.zdog-canvas {
  position: relative;
  cursor: move;
  display: block;
  margin: auto;
}

.links {
  position: relative;
  display: block;
  margin: auto;
  margin-block-start: 1rem;
  margin-block-end: 2rem;
  width: 50%;
  text-align: center;
}

.icon {
  width: 40px; 
  height: auto;
  border-left: 3rem;
  border-right: 3rem;
}

.triangle {
  position: absolute;
  width: auto; 
  height: 0; 
  border-left: 100rem solid transparent;
  border-right: 40rem solid transparent;
  border-bottom: 50rem solid rgb(6, 69, 80);
}
